html{

}
body{
    font-family: Verdana;
    font-size: 12px;
    color: #444;
}

#banner{
    width:1000px;
}

#container{

    border: #000000 dotted;
    background-color: #eeeeee;
    overflow: hidden; /*hidden to clear the floats on #form and #login */
    margin:50px auto;
    padding:15px;
    width:1000px;
}
#form{
    width: 490px;
    float:left;
}


#sidebar{
    width:250px;
    float:right;


}


#toppings{
    margin: 50px;

}

