html{

}
body{
    font-family: Verdana;
    font-size: 12px;
    color: #444;
}

footer{
    margin: 0em 4em 0.5em 4em;
    padding: 5px 0 0 0;
}

/*Classes*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: large;
}

.navbar .navbar-collapse{
    text-align: center;
}



/*ID's*/
#banner{
    width:1000px;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
    margin: auto;

}

#container{

    border: #000000;
    background-color: #eeeeee;
    overflow: hidden; /*hidden to clear the floats on #form and #login */
    margin: auto;
    /*padding:15px;*/
    width:1000px;
}
#form{
    width: 490px;
    float:left;
    margin: 20px;
}


#sidebar{
    width:300px;
    float:right;
    margin: 20px;

}
#username{
    margin: 0 0 0 5px;
}

#password{
    margin: 5px 0 0 1em;
}

#register
{
    font-size: large;
    margin-top: 10px;
}
#toppings{
    margin: 50px;

}
#footer{
    clear:both;
    color:black;
}

